body {
    background-color: dimgray;
    font-family: 'Lato', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    margin: 0 auto;
    width: 700px;
}

.instruction {
    margin-top: 20px;
}

.input {
    width: 100%;
    height: 200px;
    margin-top: 50px;
    padding: 15px;
    resize: none;
    font-size: 16px;
}

.keybord-area {
    position: relative;
    margin-top: 50px;
    background-color: rgb(185, 185, 185);
    border: 1px solid black;
    border-radius: 3px;
    padding: 10px;
}

.keybord-row {
    display: flex;
    justify-content: flex-start;
}

.key {
    height: 40px;
    width: 40px;
    color: white;
    background-color: black;
    padding: 10px 15px;
    margin: 3px;
    border-radius: 3px;
}

